@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#regionSelector {
  font-family: 'Poppins', sans-serif;
  padding: 5px;
  font-size:medium;
  font-weight: bold;
  border-radius: 10px;
  appearance: none;
  width: 10rem;
} 

#regionSelector:hover {
  border: 1px solid purple;
  -webkit-box-shadow: 4px 4px 39px -14px rgba(0, 0, 0, 1);
  -moz-box-shadow: 4px 4px 39px -14px rgba(0, 0, 0, 1);
  box-shadow: 4px 4px 39px -14px rgba(0,0,0,1);
}